body {
  margin: 0 auto;
  padding: 20px 50px;
  max-width: 700px;
  width: 100%;
  background-color: rgb(169, 178, 178);
}

.top,
.three {
  display: flex;
  align-items: center;
  gap: 350px;
}

@media screen and (min-width: 200px) and (max-width: 370) {
  .top,
  .three {
    display: flex;
    align-items: center;
    gap: 180px;
  }
}
.again,
.check {
  padding: 10px 20px;
  background-color: azure;
}

.two {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;

  .guess {
    font-size: 30px;
  }
}
.question {
  padding: 20px 40px;
  border: 2px solid black;
  font-size: 40px;
  font-weight: 800;
  width: 40px;
}

.number {
  padding: 10px;
  width: 35px;
}
.left-three,
.right-three {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
